.bingo-card,
.bingo-card--square {
	border: 1px solid var(--card-border);
	border-collapse: collapse;
}

.bingo-card--square {
	background-color: var(--card-background);
	box-sizing: border-box;
	padding: 1em;
	width: 20%;
	margin: 8px;
}

.bingo-card--square.marked {
	color: black;
	background-color: var(--card-background-marked);
}
